%p
  %b
    Membership:
  = h @group_permission.membership_id
%p
  %b
    Role:
  = h @group_permission.group_role_id
  
= link_to 'Edit', edit_group_permission_path(@group_permission)
|
= link_to 'Back', group_permissions_path
