/* GROUP LIST */
div.group_list .row {
	border:1px solid #cccccc;
	margin:1em 0 1em 0;
	margin-bottom:1.5em;
	padding:0.5em;
	}
	div.group_list .row h3 {
		}
div.group_list div.vcard {
	width: 100%;}
	div.group_list div.vcard ul {
	margin-left: 0;
	font-size: 85%;
	}
