.grid_table th {
    background:#CCCCCC url(/plugin_assets/community_engine/images/bg_grid_head.jpg) repeat-x scroll 0 0;
    color:#000000;
    font-weight:bold;
    padding:6px 10px;
    text-align:center;
}

.fullscreen {
    margin:0 auto;
    width:100%;
}

.odd { background: #efefef; }
.even { background: #fff; }


/* GROUP LIST */
div.group_list .row {
	border:1px solid #cccccc;
	margin:1em 0 1em 0;
	margin-bottom:1.5em;
	padding:0.5em;
	}
	div.group_list .row h3 {
		}
div.group_list div.vcard {
	width: 100%;}
	div.group_list div.vcard ul {
	margin-left: 0;
	font-size: 85%;
	}
