      
= render :partial => 'groups/group_management_links'
    
    
= render :partial => 'groups/sidebar_details', :locals => {:group => @group}    


= render :partial => 'groups/sidebar_members_list', :locals => {:group => @group}