- @section = 'groups'

.yui-b
  -if logged_in? && current_user.groups.any?
    -box do
      %h3=:memberships.l
      %ul
        -current_user.groups.each do |group|
          %li=link_to group.name, group
  
  
  
#yui-main
  .yui-b
    -box :class => "group_list" do
      %h3
        = link_to :new_group.l, new_group_path, :class => 'right' if logged_in?
        =:site_groups.l :site => AppConfig.community_name

      .pagination= paginating_links @groups, :params => params if @groups.page_count > 1

      %br.clear
      - if @groups.any?
        %ul= render :partial => "groups/group", :collection => @groups
      %br.clear
      
      .pagination= paginating_links @groups, :params => params if @groups.page_count > 1


