-box do
  =error_messages_for :group
  - semantic_form_for @group, :html => {:class => "MainForm", :multipart => true} do |form|

    -form.inputs :name => :new_group.l do
      =render :partial => 'groups/form', :locals => {:form => form}

    %p
      = form.submit :create.l

