-box do
  - form_for :photo, @photo, :url => {:action => 'create'}, :html => {:class => "MainForm", :multipart => true} do |form|
    = form.label :choose_a_photo_to_upload.l
    = form.file_field :uploaded_data

    %p
      = form.submit :create.l

