-box do
  - semantic_form_for @group_photo, :html => {:class => "MainForm", :multipart => true} do |form|

    -form.inputs do
      = form.input :uploaded_data, :as => :file, :label => :choose_a_photo_to_upload.l, :hint => "#{AppConfig.photo['attachment_fu_options']['max_size']} #{:megabyte_upload_limit.l}"
      
    %p
      = form.submit :create.l

